$fontAlegreya: 'Alegreya', serif;
$fontArvo:'Arvo', serif; 
$fontKarla:'Karla', sans-serif; 
$fontLato:'Lato', sans-serif;
$fontMontserrat: 'Montserrat', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
$fontPoppins:'Poppins', sans-serif;