$bodyColor:#e1e5f2;
$containerColor:#f0e4e4;
$containerColor3:#f0e4e470;
$containerColor2:#e7dddd;
$navColor:#3772ff;
$navActive:#faa307;
$searchBarBackground:#e9ecef;
$airconIconColor:#19e3f1;
// $home:#edf2fb;
// $home:#e9edf5;
$home:#FFFFFF;
$home2:#d4ddee;

$color:rgb(236, 181, 181);
$btnThermostatColorPlus:#EFD4D6;
$btnThermostatColorPlus:#dbaaae;
$btnThermostatColorPlusHover:#eed0d2 ;
$btnThermostatColorMinus:#b6d7eb;
$btnThermostatColorMinusHover:#cae3f3;
$welcome:#f77f00;
$lightColor:#FFE400;